
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Bem vindo!</h1>
    <p>Utilize quando quiser nosso sistema de cadastros de transportadoras, ele foi feito especialmente para você! Aproveite!</p>
   
</div>